export DB_HOST=localhost
export IDENTITY_DB_NAME=identity_dev
export IDENTITY_DB_USER=identity_dev
export IDENTITY_DB_PASS=identity_dev

export DB_TEST_HOST=localhost
export IDENTITY_DB_TEST_USER=identity_test
export IDENTITY_DB_TEST_PASS=identity_test

export AUTH_SECRET=DmDpetNChARpASVVxIwVVKvk9/SiMlOzuSjtct/AuFLxO3QtDdampb3Cnslpymu0